
header{
	background-color:#8F0000;
	padding: 80px 120px;
}

header p{
	color: white;
	text-align: center;
	font-size: 1.6em;

}

h1{
	margin: 0;
	color: #fff;
	text-shadow: 0 10px 10px 50px black;
	text-align: center;
	font-size: 3.5em;
	letter-spacing: 5px;
}

h2{
	color: white;
	font-size: 3em;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h3{
	font-size: 2em;
}

td.h3{
	background-color:#007A46;
	border: none;
	font-size: 2em;
}

h3.statglobales{
	margin: 15px 0;
	color: white;
}

h2, h3{
	text-align: center;
}

section{
	padding: 50px 50px;
}

section:last-child{
	background-color: #F7C700;
}

table{
	border-spacing: 0;
	margin: 0 auto;
	width: 500px;
}

table td, th{
	padding: 10px 10px;
	border: 1px solid #D7E9E1;
		font-size: 3em;
}

table th{
	background-color: #489F00;
	color: white;
	border: 1px solid #404040;
}

table th.stats{
	background-color: #E5FFD0;
	color: white;
	border: 1px solid #E5FFD0;
}

table tr:nth-child(2n){
	background-color: rgba(255, 255, 255, 0.97);
}

table tr:nth-child(2n+1){
	background-color: #E5FFD0;
}

table td:last-child{
	text-align: center;
}

table span.result{
	font-weight: bold;
	text-align: center;
}

table.global{
	text-align: center;
	font-size: 0.8em;
	width: 100%;
}

table.global h3{
	font-size: 3em;
}
